@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

:root {
    --primary-color: rgba(4, 1, 83, 0.884);
}

body{
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

textarea {
    border: 1px solid black;
    width: 80%;
    height: 15vh;
    display: block;
    margin: 2rem;
    padding: 1rem;
}

#txt-output {
    border: 1px solid black;
    height: 15vh;
    width: 80%;
    margin: 2rem;
    padding: 1rem;
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    text-align: center;
    font-size: 1rem;
}

.main{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#btn-translate{
    border: none;
    background-color: var(--primary-color);
    padding: 0.5rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    color: white;
    margin-bottom: 1rem;
}
.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.list-non-bullet {
    list-style: none;
    margin-left: 0;padding-left: 0;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.footer{
    background-color: var(--primary-color);
    padding: 0.5rem 1rem;
    color: white;
    text-align: center;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.footer .footer-header{
    font-weight: bold;
    font-size: large;
}
.container-center {
    max-width: 900px;
    margin: auto;
}

